section.top
  div.top__animation
    div.animation-lines
  div.top__content
    a(href="#").top__logo
      img(src="img/icon/jug_logo.svg")
    h1.title Конференции, которые нужны
    p.text Мы, JUG Ru Group, делаем крупнейшие конференции для программистов и сочувствующих. 
    p.text С нас — крутая программа, топовые спикеры, технические доклады без воды. 
    p.text С вас — готовность смотреть и общаться.
    div.top__buttons.buttons
      a(href="#").button.buttons__link--yes Купить билет 
      a(href="#").button.buttons__link--no Послать в жопу
